ASPNETCORE_ENVIRONMENT=Development

DB_USER=youruser
DB_PASSWORD=yourpassword
DB_NAME=yourdb
DB_HOST=localhost
DB_PORT=5432

DB_STRING_CONNECTION="Host=${DB_HOST};Port=${DB_PORT};Database=${DB_NAME};Username=${DB_USER};Password=${DB_PASSWORD}"
